 Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# Declare files that will always have CRLF line endings on checkout.
*.c text eol=crlf
*.h text eol=crlf
*.asm text eol=crlf
*.asm text eol=crlf
*.bas text eol=crlf
*.plm text eol=crlf
*.for text eol=crlf
*.pas text eol=crlf
*.mod text eol=crlf
*.mac text eol=crlf
*.alg text eol=crlf
*.pkg text eol=crlf
*.ada text eol=crlf

